footer {
    width: 100%;
    min-height: 25px;
    background-color: #03295e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    z-index: 1003;
}

footer p {
    font-size: 12px;
    width: 100%;
}